
@import "./Variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: rgba(3, 10, 23, 1);
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
 
}

.snake-field{
  background-image:url(/assets/field.jpg);
  border-radius: 5px;
  width: 500px;
  height: 500px;
  filter: brightness(50%);
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.99);
  position: relative;
}

.snake-head{

@include roundShape($darkColor,1px solid $lightColor);
box-shadow: 2px 2px 8px $darkColor;
}

.snake-body{
  @include roundShape($darkColor,1px solid $red)
  
}

.egg{

   @include roundShape(red, 1px solid black)
  
}

.score{
  align-self: flex-end;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.8em;

}

.score-title{
  background:$red;
  color: $lightColor;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem;
}

.score-point{
  background: $lightColor;
  color: $darkColor;
  padding: 0.5rem;
  border-radius: 0 5px 5px 0;
  width: 30px;
  text-align: center;
}



    