@mixin roundShape($background, $border) {
position: absolute;
  top: $top;
  left: $left;
 background:$background;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: $border;
}

$darkColor: rgba(0,0,0,0.9);
$lightColor: rgba(250, 246, 246, 0.938);
$red:rgba(204, 25, 25, 0.99);

