@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sigmar+One&display=swap');


.game-over-background{
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
    /* position: fixed;
    bottom: 50%;
    left:50%;
    transform: translate(-50%, -50%); */
    width: 50%;   
    height: 100%;
}

.game-over-container{
    background-color: black;
    box-shadow: 3px 8px 16px black;
    width: 65%;
    height: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 0%;
    left:45%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 10px;
    animation-name: unfold;
animation-duration: 1.5s;
animation-iteration-count: 1;
}


.game-over-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.scoreBoard{
    font-size: 1.2em;
    font-family: sans-serif;
}
.game-over{
    display: inline-block;
font-family: 'Press Start 2P', cursive;
font-family: 'Sigmar One', cursive;
padding-bottom: 2em;
font-size: 2em;
color: white;
animation-name: game-over;
animation-duration: 2s;
animation-iteration-count: 1;
animation-delay: 1.5s;

}
.white{
    color: white;
}

button{
    padding-bottom: 10em;
    border: none;
    margin: 2em;
    padding: 0.5em;
    outline: none;
    color: white ;
    font-size: 0.8em;
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    text-align: center;
}

button.quit{
    background-color: rgba(204, 25, 25, 0.99);
}

button.continue{
    background-color: green;
}


@keyframes game-over {
    from {color: rgba(204, 25, 25, 0.99); margin-top: -10%; font-size: 1em;}
    to  {color: white; margin-top: 0%; font-size: 2em;}
}

@keyframes unfold {
    0% {height: 0%;}
    25% {height: 25%;}
    50% {height: 50%;}
    100% {height: 60%;}
}